.panier{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.buttonforma {
    display: inline-block;
    padding: 2px 10px;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffff;
    background-color: #3587A0;
    border: none;
    border-radius: 15px;
  }
  
  .buttonforma:hover {background-color: #175A75}